.single-meal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(214, 236, 154, 0.65);
    padding: 1.5rem;
    border-radius: 7px;
    
}

.img-container{
    width: 100%;
    margin: 0 auto;
}
.img-container img{
    width: 100%;
   
}
.meal-name{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}
.description{
    font-size: .9rem;
   
}