.single-meal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fe6d7211;
    padding: 1.5rem;
    border-radius: 7px;
}

.img-container{
    width: 100%;
    margin: 0 auto;
}
.img-container img{
    width: 100%;
   
}
.meal-name{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}
.description{
    font-size: .9rem;
    text-align: left;
   
}
.meal-btn{
    border: none;
    margin-top: 1rem;
    padding: .7rem 2.5rem ;
    font-weight: 600;
    cursor: pointer;
    border-radius: 7px;
    background-color: #fe6d73;
    color:white;
}
.meal-details{
    min-height: 170px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.meal-link{
    text-decoration: none;
    color: white;
}