.more-details{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.recipe-name{
    margin-top: 2rem;
}
.origin{
    margin-top: .5rem;
}
.details-img{
    width: 50%;
    margin: 0rem auto;
    margin-top: 5rem;
}
.details-img img{
    width: 100%;
    border-radius: 50%;
}
.ingredients{
    margin-top: 2rem;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ingredient{
    padding: 7px 7px;
    font-weight: 400;
    color: rgb(19, 19, 19);
    margin: 5px 5px;
    border-radius: 7px;
    background-color: #fe6d724d
}
.instruction{
    margin: 2rem 0;
    width: 50%;
    text-align: left;
}
.details-footer{
    margin-bottom: 4rem;
}
.details-footer button{
    padding: .7rem 2rem;
    margin: 0 .5rem;
    cursor: pointer;
    
    
}
.goback-btn{
    background-color: #fe6d73;
    border: none;
    border-radius: 7px;

}
.goback-btn-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.youtube-btn{
    color: rgb(255, 255, 255);
    font-weight:600;
    background-color: #fe6d73;
    border: none;
    border-radius: 7px;
}
.youtube-btn a{
    text-decoration: none;
    color: white;
}
